.dark-primary-color    { background: #FFA000; }
.default-primary-color { background: #FFC107; }
.light-primary-color   { background: #FFECB3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.contact-head {
    padding-top: 20px;
}

.contact-photo {
    border: 1px solid #757575;
    width: 64px;
    height: 64px;
}

body {
    padding-top: 70px;
}

.form-signin {
    max-width: 300px;
    margin: 0 auto;
}

.form-signin input {
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.form-signin input#inputUserName {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 15px;
}