<div class="container">
    <form class="form-signin" ng-submit="login.login()">
        <h2>Please sign in</h2>
        <label for="usrName" class="sr-only">User name</label>
        <input ng-model="login.email" type="text" class="form-control" placeholder="User name" required="" autofocus="">
        <label for="usrPassword" class="sr-only">Password</label>
        <input ng-model="login.password" type="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p>Don't have an account? <a href="signup.html">Sign up now</a></p>
    </form>
</div>